/* Equipos */
.equipo a:hover{
    -webkit-transform:  scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#addequipo:hover{
    -webkit-transform:  scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.card img{
    margin-top: 1rem;
}
IMG.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    }

.margenes{
    padding-left: 10px;
    padding-right: 10px;
}   
.bg-primary {
    background-color: #039fed!important;
} 

.jumbotron{
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white;
}