
<div class="container jumbotron" *ngIf = "!temporada_actual">
  <h1 class="text-center"> !UPs¡.. Tenemos Problemas para ver el reglamento porfavor Intenta mas tarde </h1>
</div>
<div class="container jumbotron" *ngIf = "temporada_actual">
    <h1 class="text-center">Reglamento de la Temporada </h1>
    <h1 class="text-center">{{temporada_actual.nombre_temporada}}</h1>
    <hr class="my-4">
    <iframe width="100%" height="500px" [src]="pdfIframe" type="application/pdf"></iframe>
    <hr>
    <div class="text-center">
        <strong>Sección del Reglamento T.O.D. 2017</strong>
    </div>
</div>
