<div class="container">
  <br>
  <div class="row">
    <div class="col-8">
      <select class="form-control" (change)="onChangeCategoria($event)">
            <!-- <option selected>Seleccione la Categoria a la que pertenece</option> -->
            <option disabled hidden [ngValue]="selectUndefinedOptionValue2">Seleccione la categoria a la que pertenece</option>            
            <option [ngValue]="categoria._id"  *ngFor="let categoria of arrayCategoria">{{categoria.nombre_categoria}}</option>
          </select>
    </div>
    <div class="col-4" *ngIf="VerCalendario && segundaVuelta.length != 0">
      <button class="btn btn-primary" (click)="calendarioVuelta('1')">Vuelta 1</button>
      <button class="btn btn-primary" (click)="calendarioVuelta('2')">Vuelta 2</button>
    </div>
    <div class="col-4" *ngIf="segundaVuelta.length==0">
      <div class="p-3 mb-2 bg-info text-white">Tabla de Calendarios</div>
    </div>
  </div>

  <hr>

  <div class="row jumbotron" *ngIf="!VerCalendario">
    <h5>
      Sección Calendarios
    </h5>
    <h5>
      Seleccione una Categoria para ver los partidos jugados con sus respectivos resultados. Ademas podra ver los proximos partidos
      que se jugarán.
    </h5>
  </div>


  <div class="row jumbotron" *ngIf="verVuelta == '1' && VerCalendario">
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-lg-12" *ngFor="let fec of fechas | paginate: { itemsPerPage: 1, currentPage: p }">
      <div class="card">
        <div class="card-header">
          <h6 class="text-center ">Fecha Numero: {{p}} </h6>
        </div>
        <div class="card-body" *ngFor="let encuentros of fec;let k=index">
            <!-- <h1>{{encuentros.estado_fecha}}</h1> -->
          <div class="row" *ngIf="encuentros.id_equipo1 != null && encuentros.id_equipo2 != null">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="fecha_referencia">Fecha de Juego</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                  <input id="fecha_referencia" type="date" name="name" class="form-control" placeholder="" aria-describedby="emailHelp" [ngModel]="fechaAgrupada[p-1][k].fecha | date:'yyyy-MM-dd'"
                    (ngModelChange)="encuentros.fecha = $event">
                </div>
                <small id="emailHelp" class="form-text text-muted">La fecha en al que se jugará</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="SelectEstadio">Estadio</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
                  <select class="form-control" id="SelectEstadio1" (change)="selectEstadio($event.target.value,$event)" [(ngModel)]="encuentros.id_estadio">
                          <option value="undefined" disabled selected hidden>Seleccione el Estadio</option>
                          <option value="null" disabled selected hidden>Seleccione el Estadio</option>
                          <option *ngFor="let est of estadios" [value]="est._id" >{{est.nombre_estadio}}</option>
                      </select>
                </div>
                <small id="emailHelp" class="form-text text-muted">Estadio donde se jugara toda la fecha</small>
              </div>
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5 d-flex align-items-center">
              <div class="row text-center">
                <div class="col-6">
                  <button class="btn btn-outline-success btn-sm btn-block" (click)="guardarPartido(encuentros,encuentros.id_estadio,encuentros.fecha)">Guardar Partido</button>
                  <button *ngIf="id_Habilitar != encuentros._id" class="btn btn-sm btn-outline-info btn-block" (click)="HabilitarResultados(encuentros._id)">Habilitar Resultados</button>
                  <button *ngIf="id_Habilitar == encuentros._id" class="btn btn-sm btn-outline-danger btn-block" (click)="DesabilitarResultados()">Desabilitar Resultados</button>
                  <button class="btn btn-sm btn-outline-secondary btn-block" (click)="datos(encuentros)">Generar Vocalia</button>

                </div>
                <div class="col-6">
                  <small *ngIf="id_Habilitar != encuentros._id" class="form-text text-muted">Al momento de <strong>Habilitar Resultados </strong> el partido se marcara como <strong>JUGADO</strong></small>
                  <small *ngIf="id_Habilitar == encuentros._id" class="form-text text-muted">Al momento de <strong>Desabilitar Resultados </strong> el partido se marcara como <strong>NO JUGADO</strong></small>
                </div>
              </div>

            </div>

          </div>
          <div class="row text-center" *ngIf="encuentros.id_equipo1 != null && encuentros.id_equipo2 != null">
            <div class="col-lg-4">
                <h4>{{encuentros.id_equipo1.nombre_equipo}}</h4>
              <div class="row">

                <div class="col-7">
                  <label for="input" class="col-form-label">Goles: </label>
                </div>
                <div class="col-5">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.goles_equipo1.length" id="" type="number" name="name" class="form-control" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarGoles1(encuentros.goles_equipo1.length,encuentros)" class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-futbol-o"></i></div>
                  </div>
                </div>
                <div *ngFor="let item of encuentros.goles_equipo1;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].goles_equipo1[j]"
                      [id]="p">
                              <option selected value="">Seleccione jugador</option>
                          <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                      </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Amarillas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input  [(ngModel)]="encuentros.tarjetas_amarilla_equipo1.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarTA1(encuentros.tarjetas_amarilla_equipo1.length,encuentros)" id="tarjetaAmarilla" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
                <div *ngFor="let item of encuentros.tarjetas_amarilla_equipo1;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].tarjetas_amarilla_equipo1[j]"
                      [id]="p">
                                <option selected value="">Seleccione jugador</option>
                            <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Rojas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_roja_equipo1.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true">
                    <div id="tarjetaRoja" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row"  *ngFor="let item of encuentros.tarjetas_roja_equipo1;let j=index">
                <div class="d-flex justify-content-center">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>
  
                      <select *ngIf="encuentros.estado_fecha==false" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j]"
                        [id]="i">
                                    <option selected value="">Seleccione jugador</option>
                                <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                            </select>
                    
                      <select *ngIf="encuentros.estado_fecha==true" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j].id"
                            [id]="i">
                              <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                    </div>
                    <div>
                      <input *ngIf="encuentros.estado_fecha==false" [(ngModel)]="partidosSuspencionEquipo1[j]" class="form-control" type="number" style="width: 50px;"
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                      >

                      <input *ngIf="encuentros.estado_fecha==true" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j].partidosSuspendidos" class="form-control" type="number" style="width: 50px;"
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                      >
                    </div>
                  </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-map" aria-hidden="true"></i></div>
                      <textarea type="text" class="form-control" [disabled]="id_Habilitar != encuentros._id" name="" placeholder="Observación del Equipo"
                        [(ngModel)]="encuentros.observacion_equipo1">
                            </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <h6 class="centrar">
                <FONT FACE="arial" SIZE=10>{{encuentros.goles_equipo1.length}}</FONT>
              </h6>
            </div>
            <div class="col-lg-1">
              <h6 class="centrar">
                <FONT FACE="arial" SIZE=10>{{encuentros.goles_equipo2.length}}</FONT>
              </h6>
            </div>
            <div class="col-lg-4 text-center">
                <h4>{{encuentros.id_equipo2.nombre_equipo}}</h4>
              <div class="row">
                <div class="col-7">
                  <label for="inputPassword" class="col-form-label">Goles: </label>
                </div>
                <div class="col-5">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.goles_equipo2.length" id="" type="number" name="name" class="form-control" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarGoles2(encuentros.goles_equipo2.length,encuentros)" class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-futbol-o"></i></div>
                  </div>
                </div>

                <div *ngFor="let item of encuentros.goles_equipo2;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].goles_equipo2[j]"
                      [id]="i">
                                <option selected value="">Seleccione jugador</option>
                            <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Amarillas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_amarilla_equipo2.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarTA2(encuentros.tarjetas_amarilla_equipo2.length,encuentros)" id="tarjetaAmarilla" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
                <div *ngFor="let item of encuentros.tarjetas_amarilla_equipo2;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].tarjetas_amarilla_equipo2[j]"
                      [id]="i">
                                  <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Rojas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_roja_equipo2.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true">
                    <div (click)="generarTR2(encuentros.tarjetas_roja_equipo2.length,encuentros)" id="tarjetaRoja" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
                <div class="d-flex flex-row"  *ngFor="let item of encuentros.tarjetas_roja_equipo2;let j=index">
                  <div class="d-flex justify-content-center">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>
                      
                      <select *ngIf="encuentros.estado_fecha==false" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j]"
                      [id]="i">
                                  <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                  
                    <select *ngIf="encuentros.estado_fecha==true" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j].id"
                          [id]="i">
                            <option selected value="">Seleccione jugador</option>
                            <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                        </select>
                     
                    </div>
                      <div>
                          <input *ngIf="encuentros.estado_fecha==false" [(ngModel)]="partidosSuspencionEquipo2[j]" class="form-control" type="number" style="width: 50px;"
                          [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                          >
    
                          <input *ngIf="encuentros.estado_fecha==true" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j].partidosSuspendidos" class="form-control" type="number" style="width: 50px;"
                          [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                          >
                      </div>
                    </div>
                </div>              
              <br>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-map" aria-hidden="true"></i></div>
                      <textarea type="text" class="form-control" [disabled]="id_Habilitar != encuentros._id" name="" placeholder="Observación del Equipo"
                        [(ngModel)]="encuentros.observacion_equipo2">
                              </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <h6>HORA</h6>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <input id="hora" type="time" name="name" class="form-control" placeholder="" [(ngModel)]="encuentros.hora">
              </div>
              <!-- <small id="emailHelp" class="form-text text-muted">La fecha en al que se jugará</small> -->
              <br>
              <h6>VOCAL</h6>
              
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                <select class="form-control" [(ngModel)]="encuentros.nombre_equipo_vocalia">
                  <option >Seleccione Equipo</option>
                  <option *ngFor="let equipo of (nombresEquiposCategoria)">{{equipo.nombre_equipo}}</option>
              </select>
              </div>
            </div>
          </div>
          <hr>
        </div>

        <div class="card-footer text-center">
            <button *ngIf="Vocalia" class="btn btn-success" (click)="b()">Descargar Hoja de Vocalia</button>
        </div>
      </div>
    </div>
  </div>










  <!-- Segunda Vuelta.. -->
  <div class="row jumbotron" *ngIf="verVuelta == '2'">

    <div class="col-12 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>


    <div class="col-lg-12" *ngFor="let fec of fechaAgrupadaSegundaVuelta | paginate: { itemsPerPage: 1, currentPage: p }">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center ">Fecha Numero: {{p}} </h2>
        </div>
        <div class="card-body" *ngFor="let encuentros of fec;let k=index">

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="fecha_referencia">Fecha de Juego</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                  <input id="fecha_referencia" type="date" name="name" class="form-control"  [ngModel]="encuentros.fecha | date:'YYYY-MM-DD'"
                    (ngModelChange)="encuentros.fecha = $event">

                </div>
                <small id="emailHelp" class="form-text text-muted">La fecha en al que se jugará</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="SelectEstadio">Estadio</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>

                  <select class="form-control" id="SelectEstadio1" (change)="selectEstadio($event.target.value)" [(ngModel)]="encuentros.id_estadio">
                            <option value="undefined" disabled selected hidden>Seleccione el Estadio</option>
                            <option value="null" disabled selected hidden>Seleccione el Estadio</option>
                            <option *ngFor="let est of estadios" [value]="est._id" >{{est.nombre_estadio}}</option>
                        </select>

                </div>
                <small id="emailHelp" class="form-text text-muted">Estadio donde se jugara toda la fecha</small>
              </div>
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5 d-flex align-items-center">
              <div class="row text-center">
                <div class="col-6">
                  <button class="btn btn-outline-success btn-sm btn-block" (click)="guardarPartido(encuentros,encuentros.id_estadio,encuentros.fecha)">Guardar Partido</button>
                  <button *ngIf="id_Habilitar != encuentros._id" class="btn btn-sm btn-outline-info btn-block" (click)="HabilitarResultados(encuentros._id)">Habilitar Resultados</button>
                  <button *ngIf="id_Habilitar == encuentros._id" class="btn btn-sm btn-outline-danger btn-block" (click)="DesabilitarResultados()">Desabilitar Resultados</button>
                  <button class="btn btn-sm btn-outline-secondary btn-block" (click)="datos(encuentros)">Generar Vocalia</button>

                </div>
                <div class="col-6">
                  <small *ngIf="id_Habilitar != encuentros._id" class="form-text text-muted">Al momento de <strong>Habilitar Resultados </strong> el partido se marcara como <strong>JUGADO</strong></small>
                  <small *ngIf="id_Habilitar == encuentros._id" class="form-text text-muted">Al momento de <strong>Desabilitar Resultados </strong> el partido se marcara como <strong>NO JUGADO</strong></small>
                </div>
              </div>

            </div>

          </div>
          <div class="row text-center">
            <div class="col-lg-4">
                <h3>{{encuentros.id_equipo1.nombre_equipo}}</h3>
              <div class="row">
                <div class="col-7">
                  <label for="inputPassword" class="col-form-label">Goles: </label>
                </div>
                <div class="col-5">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.goles_equipo1.length" id="" type="number" name="name" class="form-control" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarGoles1(encuentros.goles_equipo1.length,encuentros)" class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-futbol-o"></i></div>
                  </div>

                </div>
                <div *ngFor="let item of encuentros.goles_equipo1;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].goles_equipo1[j]"
                      [id]="i">
                                <option selected value="">Seleccione jugador</option>
                            <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                        </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Amarillas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_amarilla_equipo1.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarTA1(encuentros.tarjetas_amarilla_equipo1.length,encuentros)" id="tarjetaAmarilla" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
                <div *ngFor="let item of encuentros.tarjetas_amarilla_equipo1;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].tarjetas_amarilla_equipo1[j]"
                      [id]="i">
                                  <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Rojas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input  [(ngModel)]="encuentros.tarjetas_roja_equipo1.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true">
                    <div (click)="generarTR1(encuentros.tarjetas_roja_equipo1.length,encuentros)" id="tarjetaRoja" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row"  *ngFor="let item of encuentros.tarjetas_roja_equipo1;let j=index">
                  <div class="d-flex justify-content-center">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>
    
                        <select *ngIf="encuentros.estado_fecha==false" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j]"
                          [id]="i">
                                      <option selected value="">Seleccione jugador</option>
                                  <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                              </select>
                      
                        <select *ngIf="encuentros.estado_fecha==true" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j].id"
                              [id]="i">
                                <option selected value="">Seleccione jugador</option>
                                <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo1.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                            </select>
                      </div>
                      <div>
                        <input *ngIf="encuentros.estado_fecha==false" [(ngModel)]="partidosSuspencionEquipo1[j]" class="form-control" type="number" style="width: 50px;"
                        [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                        >
  
                        <input *ngIf="encuentros.estado_fecha==true" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo1[j].partidosSuspendidos" class="form-control" type="number" style="width: 50px;"
                        [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                        >
                      </div>
                    </div>
                </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-map" aria-hidden="true"></i></div>
                      <textarea type="text" class="form-control" name="" placeholder="Observación del Equipo" [(ngModel)]="encuentros.observacion_equipo1">
                              </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <h1 class="centrar">
                <FONT FACE="arial" SIZE=10>{{encuentros.goles_equipo1.length}}</FONT>
              </h1>
            </div>
            <div class="col-lg-1">
              <h1 class="centrar">
                <FONT FACE="arial" SIZE=10>{{encuentros.goles_equipo2.length}}</FONT>
              </h1>
            </div>
            <div class="col-lg-4 text-center">
              <h3>{{encuentros.id_equipo2.nombre_equipo}}</h3>
              <div class="row">
                <div class="col-7">
                  <label for="inputPassword" class="col-form-label">Goles: </label>
                </div>
                <div class="col-5">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.goles_equipo2.length" id="" type="number" name="name" class="form-control" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarGoles2(encuentros.goles_equipo2.length,encuentros)" class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-futbol-o"></i></div>
                  </div>
                </div>

                <div *ngFor="let item of encuentros.goles_equipo2;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].goles_equipo2[j]"
                      [id]="i">
                                  <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Amarillas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_amarilla_equipo2.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id">
                    <div (click)="generarTA2(encuentros.tarjetas_amarilla_equipo2.length,encuentros)" id="tarjetaAmarilla" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
                <div *ngFor="let item of encuentros.tarjetas_amarilla_equipo2;let j=index" class="col-12">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>

                    <select [disabled]="id_Habilitar != encuentros._id" class="form-control" [(ngModel)]="fechaAgrupada[p-1][k].tarjetas_amarilla_equipo2[j]"
                      [id]="i">
                                    <option selected value="">Seleccione jugador</option>
                                <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                            </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="inputPassword" class="col-form-label">Tarjetas Rojas: </label>
                </div>
                <div class="col-4">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="encuentros.tarjetas_roja_equipo2.length" id="" type="number" name="name" class="form-control inputTarjetas" placeholder=""
                      [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true">
                    <div (click)="generarTR2(encuentros.tarjetas_roja_equipo2.length,encuentros)" id="tarjetaRoja" class="input-group-addon frm-addon"
                      style="width: 2.6rem"><i class="fa fa-clone" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row"  *ngFor="let item of encuentros.tarjetas_roja_equipo2;let j=index">
                  <div class="d-flex justify-content-center">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user" aria-hidden="true"></i></div>
                      
                      <select *ngIf="encuentros.estado_fecha==false" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j]"
                      [id]="i">
                                  <option selected value="">Seleccione jugador</option>
                              <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                          </select>
                  
                    <select *ngIf="encuentros.estado_fecha==true" [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true" class="form-control" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j].id"
                          [id]="i">
                            <option selected value="">Seleccione jugador</option>
                            <option [ngValue]="personal._id" [disabled]="personal.rol_personal!='jugador'" *ngFor="let personal of encuentros.id_equipo2.personal_equipo">{{personal.nombre_personal}} {{personal.apellido_personal}} <span>{{personal.rol_personal}}</span></option>
                        </select>
                     
                    </div>
                      <div>
                          <input *ngIf="encuentros.estado_fecha==false" [(ngModel)]="partidosSuspencionEquipo2[j]" class="form-control" type="number" style="width: 50px;"
                          [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                          >
    
                          <input *ngIf="encuentros.estado_fecha==true" [(ngModel)]="fechas[p-1][k].tarjetas_roja_equipo2[j].partidosSuspendidos" class="form-control" type="number" style="width: 50px;"
                          [disabled]="id_Habilitar != encuentros._id || encuentros.estado_fecha==true"
                          >
                      </div>
                    </div>
                </div> 
              <br>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-map" aria-hidden="true"></i></div>
                      <textarea type="text" class="form-control" name="" placeholder="Observación del Equipo" [(ngModel)]="encuentros.observacion_equipo2">
                                </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <h3>HORA</h3>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0 centrar">
                <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <input id="hora" type="time" name="name" class="form-control" placeholder="" [(ngModel)]="encuentros.hora">
              </div>

            </div>
          </div>
          <hr>
        </div>
        <div class="card-footer text-center">
            <button *ngIf="Vocalia" class="btn btn-success" (click)="b()">Descargar Hoja de Vocalia</button>
        </div>
      </div>
    </div>
  </div>
</div>













<div id="hojaVocalia"  class="container"  *ngIf="Vocalia">
    <div class="row">
      <div  class="col-12">
          <table   align="center" border=2 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
              <thead>
                  <th style="height: 40px;"></th>
              </thead>
            </table>
            <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
                <thead>
                    <th width="30%" style="height: 35px;" ></th>
                    <th width="30%" style="height: 35px;" ></th>
                    <th width="40%" style="height: 35px;" ></th>
                </thead>
              </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table  align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
          <thead>
              <th width="12%" style="height: 25px;"></th>
              <th width="12%" style="height: 25px;"></th>
              <th width="12%" style="height: 25px;"></th>
              <th width="12%" style="height: 25px;"></th>
              <th width="12%" style="height: 25px;"></th>
              <th width="9%" style="height: 25px;"></th>
              <th width="11%" style="height: 25px;"></th>
              <th width="20%" style="height: 25px;"></th>
              <!-- <th>&nbsp;&nbsp;{{datosVocalia.categoria}}&nbsp;&nbsp;</th>
              <th>&nbsp;<strong>Fecha de Juego:</strong>&nbsp;</th>
              <th>&nbsp;&nbsp;{{datosVocalia.fecha | date}}&nbsp;&nbsp;</th>
              <th>&nbsp;<strong>Hora</strong>:&nbsp;</th>
              <th>&nbsp;&nbsp;{{datosVocalia.hora}}&nbsp;&nbsp;</th>
              <th>&nbsp;<strong>Estadio</strong>:&nbsp;</th>
              <th>{{datosVocalia.estadio}}</th> -->
          </thead>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="padding-right: 0px;">
        <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
          <thead>
              <th width="30%" style="height: 25px;"></th>
              <th width="49%"></th>
              <th width="21%" bgcolor="#E0E0E0" ></th>
          </thead>
        </table>
      </div>
      <div class="col-6" style="padding-left: 0px;">
        <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
          <thead>
              <th width="30%" style="height: 25px;"></th>
              <th width="49%"></th>
              <th width="21%" bgcolor="#E0E0E0" ></th>
          </thead>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="padding-right: 0px;" >
        <table border=1 cellspacing=3 cellpadding=3 bordercolor="#000000" style="font-size:10px" width="100%">
          <thead>
            <tr>
              <th width="7%" ROWSPAN=2></th>
              <th width="64%" ROWSPAN=2></th>
              <th width="9%" ROWSPAN=2></th>
              <th width="20%" COLSPAN=3 style="height: 22px;"></th>
            </tr>
            <tr>
              <th>Am</th>
              <th>Am</th>
              <th>Ro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of arrayPersonal1 ; let i=index">
              <td></td>
              <td *ngIf="jugador != undefined">-</td>
              <td *ngIf="jugador === undefined">-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:10px" width="100%">
          <thead>
            <tr style="height: 22px;">
              <th width="40%"></th>
              <th width="10%"></th>
              <th width="10%"></th>
              <th width="10%"></th>
              <th width="10%"></th>
              <th width="10%"></th>
              <th width="10%"></th>
              <!-- <th width="15%"></th>
              <th width="34%"><i class="fa fa-arrow-up" aria-hidden="true"></i></th>
              <th width="30%"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
              <th width="7%" ></th>
              <th width="7%" ></th>
              <th width="7%" ></th> -->
            </tr>
          </thead>
          <tbody>
            <tr style="height: 22px;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 22px;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
            <thead>
                  <th item-width="100%" style="height: 22px;"></th>
              </thead>
          <tbody>

              <table class="table">
                  <tbody>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <th></th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                  </tbody>
                </table>

          </tbody>
        </table>
      </div>
      <div class="col-6" style="padding-left: 0px;">
        <table border=1 cellspacing=3 cellpadding=3 bordercolor="#000000" style="font-size:10px" width="100%">
          <thead>
            <tr>
              <th width="7%" ROWSPAN=2></th>
              <th width="64%" ROWSPAN=2></th>
              <th width="9%" ROWSPAN=2></th>
              <th width="20%" COLSPAN=3 style="height: 22px;"></th>
            </tr>
            <tr>
              <th>Am</th>
              <th>Am</th>
              <th>Ro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of arrayPersonal2">
              <th></th>
              <td *ngIf="jugador != undefined">-
                <!-- {{jugador.nombre_personal}} {{jugador.apellido_personal}} -->
              </td>
              <td *ngIf="jugador === undefined">-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:10px" width="100%">
            <thead>
              <tr style="height: 22px;">
                <th width="40%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <!-- <th width="15%"></th>
                <th width="34%"><i class="fa fa-arrow-up" aria-hidden="true"></i></th>
                <th width="30%"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
                <th width="7%" ></th>
                <th width="7%" ></th>
                <th width="7%" ></th> -->
              </tr>
            </thead>
            <tbody>
              <tr style="height: 22px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="height: 22px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        <table border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
            <thead>
                  <th item-width="100%" style="height: 22px;" ></th>
              </thead>
          <tbody>

              <table class="table">
                  <tbody>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <th></th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                  </tbody>
                </table>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <table align="center" border=1 cellpadding=3 cellspacing=3 bordercolor="#000000" style="font-size:12px" width="100%">
              <thead>
                  <th width="25%">Arbitro</th>
                  <th width="25%">Vocal</th>
                  <th width="25%">{{datosVocalia.id_equipo1.nombre_equipo}}</th>
                  <th width="25%">{{datosVocalia.id_equipo2.nombre_equipo}}</th>
              </thead>
            </table>
      </div>
    </div>
  </div>