<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">E-FUTFOL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Temporada</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Maxima</a>
              <a class="dropdown-item" href="#">Primera A</a>
              <a class="dropdown-item" href="#">Primera B</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estadios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reglamento</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          
          <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#modal-login">
            Iniciar Sesión
          </button>          
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Cerrar Sesión</button>        
        </form>
        
      </div>
    </nav>

    <div class="modal fade " id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
      <div class="modal-dialog " role="document">
          <div class="modal-content frm-login">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesioón</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
              </div>
              <div class="modal-body ">
                  <form class="form-horizontal" role="form" method="POST" action="/register">
                      <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">                                
                              <hr>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3 field-label-responsive">
                              <label for="name">N° Cédula</label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                      <input type="text" name="name" class="form-control" id="name" placeholder="Cédula de identidad" required autofocus>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-control-feedback">
                                  <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
                              </div>
                          </div>
                      </div>                        
                      <div class="row">
                          <div class="col-md-3 field-label-responsive">
                              <label for="password">Password</label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group has-danger">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-control-feedback">
                                  <span class="text-danger align-middle">
                          <!--<i class="fa fa-close"> Example Error Message</i>-->
                      </span>
                              </div>
                          </div>
                      </div>                                                
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
              </div>
          </div>
      </div>
  </div>

