<div class="container">
  <div class="row">
                <!-- <div class="col-lg-8 tabla_posiciones" [ngSwitch]="verElemento"> -->
    <div class="col-lg-8" >
       <app-seccion-equipo (notificacionEliminacion)="eliminarGroupPersonal($event)" (notificacion)="actualizarPersonal($event)" (mostrar)="mostrarDescripcionEquipo($event)"></app-seccion-equipo>
       <div  [hidden]="!verNuevoPersonal">
          <app-nuevo-personal [IdEquipo]="equipo._id" [PersonaRecibida]="persona" *ngIf="verNuevoPersonal" ></app-nuevo-personal>
       </div>
    </div>
    <div class="col-lg-4">
                        
      <app-seccion-personal-equipo  [equip]="equipo" [notificacionEliminacion]="msgEventEliminacion" [notificacion]="msgEvent" (emitir)="mostrarNuevoPer($event)" *ngIf="verLista">     
      </app-seccion-personal-equipo>
                        
    </div>
  </div>
  <br>

  <!-- <div class="row" >
    <div class="col-lg-12" [hidden]="!verNuevoPersonal">
        <app-nuevo-personal [IdEquipo]="equipo._id" [PersonaRecibida]="persona" *ngIf="verNuevoPersonal" ></app-nuevo-personal>
    </div>

  </div> -->
</div>
<hr class="featurette-divider">

