    <div id="tabla" class="jumbotron">
    <h3 class="text-center">
      Tabla de Posiciones
      <!-- <hr class="featurette-divider"> -->
    </h3>
    <hr>
    <ul class="nav nav-tabs nav-fill " role="tablist">
      <li class="nav-item" *ngFor="let categoria of arrayCategoria;let i = index;">
        <a class="nav-link active" [href]="'#'+categoria._id" (click)="onClass(i)" role="tab" data-toggle="tab"><i class="fa fa-futbol-o" aria-hidden="true"></i> {{categoria.nombre_categoria}}</a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content ">
      <div *ngFor="let categoria of arrayCategoria;let j=index;">
          <div role="tabpanel"  class="tab-pane fade show active" *ngIf="cClass[j]"  [id]="categoria._id">
              <br>
            <table class="table table-responsive">
              <thead class="table-sm table-inverse">
                <tr>
                  <th>#</th>
                  <th>Equipo</th>
                  <th class="numeric">PJ</th>
                  <th class="numeric">PG</th>
                  <th class="numeric">PE</th>
                  <th class="numeric">PP</th>
                  <th class="numeric">GF</th>
                  <th class="numeric">GC</th>
                  <th class="numeric">GD</th>
                  <th class="numeric">PTS</th>
                  <th class="numeric">SC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipo of categoria.codigo_equipo | OrdenVector : arrayCategoria[j].codigo_equipo; let k = index">
                  <th scope="row">{{k+1}}</th>
                  <td> <a [routerLink]="['/detalle-equipo']" (click)="guardarEquipoSeleccionado(equipo)">{{equipo.nombre_equipo}}</a></td>
                  <td>{{equipo.PJ}}</td>
                  <td>{{equipo.PG}}</td>
                  <td>{{equipo.PE}}</td>
                  <td>{{equipo.PP}}</td>
                  <td>{{equipo.GF}}</td>
                  <td>{{equipo.GC}}</td>
                  <td>{{equipo.GD}}</td>
                  <td>{{equipo.P}}</td>
                  <td>{{equipo.SC}}</td>
                </tr>                                                
              </tbody>
            </table>
          </div>
      </div>

      <!-- <div role="tabpanel" class="tab-pane fade" id="2">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Equipo</th>
                <th class="numeric">PJ</th>
                <th class="numeric">PG</th>
                <th class="numeric">PE</th>
                <th class="numeric">PP</th>
                <th class="numeric">GF</th>
                <th class="numeric">GC</th>
                <th class="numeric">GD</th>
                <th class="numeric">PTS</th>
                <th class="numeric">SC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Barcelona</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="3">
          <br>
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>#</th>
                <th>Equipo</th>
                <th class="numeric">PJ</th>
                <th class="numeric">PG</th>
                <th class="numeric">PE</th>
                <th class="numeric">PP</th>
                <th class="numeric">GF</th>
                <th class="numeric">GC</th>
                <th class="numeric">GD</th>
                <th class="numeric">PTS</th>
                <th class="numeric">SC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Delfin SC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
      </div> -->
    </div>
  </div>