<div class="container">
    <br>
    <div class="row jumbotron">
        <div class="col-12 text-center">
            <h3>Calendario de Encuentros</h3>
        </div>
        <hr>
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center">
            <h5>Temporada:</h5>
            <h5>{{temporada_actual.nombre_temporada}}</h5>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <h5>Categoria:</h5>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                    <select class="form-control" (change)="onChangeCategoria($event)" style="background: black ;color:white;">
                        <option disabled hidden [ngValue]="selectUndefinedOptionValue2">Seleccione la categoria a la que pertenece</option>            
                        <option [ngValue]="categoria._id"  *ngFor="let categoria of arrayCategoria">{{categoria.nombre_categoria}}</option>                        
                    </select>
            </div>
        </div>
        <div class="col-12  col-sm-3 col-md-3 col-lg-3 text-center" *ngIf="VerCalendario && segundaVuelta.length != 0">
            <div class="centrar">
                    <button class="btn btn-primary btn-block" (click)="calendarioVuelta('1')">Vuelta 1</button>
                    <button class="btn btn-primary btn-block" (click)="calendarioVuelta('2')">Vuelta 2</button>
            </div>
        </div>
        <div class="col-3" *ngIf="segundaVuelta.length==0">
            <!-- <h3></h3> -->
        </div>
    </div>
    <div class="row jumbotron" *ngIf="!VerCalendario">
        <h5>
            Sección Calendarios
        </h5>
        <h6>
            Seleccione una Categoria para ver los partidos jugados con sus respectivos resultados. Ademas podra ver los proximos partidos
            que se jugarán.
        </h6>
    </div>

    <div class="row jumbotron" *ngIf="VerCalendario">

        <div class="col-12" *ngIf="verVuelta == '1'">
             <div class="row text-center">
                 <div class="col-12">
                     <h5>Seleccione la Fecha</h5>
                 </div>
                 <div class="col-12">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                 </div>
            </div>   
            <div class="card" *ngFor="let fec of fechaAgrupada | paginate: { itemsPerPage: 1, currentPage: p }" >
                    <div class="card-header">
                            <h5 class="text-center ">Fecha {{p}} </h5>
                        </div>
                    <div class="card-body">
                            <div *ngFor="let item of fec; let k=index">
                                        <!-- Partido Número: {{k+1}} -->
                                    <div class="row" *ngIf="item.id_equipo1 != null && item.id_equipo2 != null">
                                        <div class="col-3 col-sm-2 col-md-2 col-lg-2">
                                            <h4 class="centrar">
                                                {{item.id_equipo1.nombre_equipo}}
                                            </h4>
                                        </div>
                                        <div class="col-2">
                                            <img *ngIf="(item.id_equipo1.escudo_equipo)" class="rounded-circle imgcenter img-fluid" src="{{ url + 'equipo/imagen/' + (item.id_equipo1.escudo_equipo)}}"
                                                alt="Generic placeholder image" width="140" height="140">
                                            <img *ngIf="!(item.id_equipo1.escudo_equipo)" class="rounded-circle imgcenter img-fluid" src="{{ url + 'equipo/imagen/default.png'}}"
                                                alt="Generic placeholder image" width="140" height="140">
                                        </div>
                                        <div class="col-1 col-sm-1 col-md-1">
                                            <h6 class="centrar">
                                                <FONT FACE="arial">{{item.goles_equipo1.length}}</FONT>
                                            </h6>
                                        </div>
                                        <div class="  d-none d-sm-bolck d-md-block d-lg-block  col-sm-2 col-md-2 col-lg-2">
                                            <h6 class="centrar">
                                                <FONT FACE="arial">-</FONT>
                                            </h6>
                                        </div>
                                        <div class="col-1 col-sm-1 col-md-1">
                                            <h6 class="centrar">
                                                <FONT FACE="arial">{{item.goles_equipo2.length}}</FONT>
                                            </h6>
                                        </div>
                                        <div class="col-2 ">
                                            <img *ngIf="(item.id_equipo2.escudo_equipo)" class="rounded-circle imgcenter img-fluid" src="{{ url + 'equipo/imagen/' + (item.id_equipo2.escudo_equipo)}}"
                                                alt="Generic placeholder image" width="140" height="140">
                                            <img *ngIf="!(item.id_equipo2.escudo_equipo)" class="rounded-circle imgcenter img-fluid" src="{{ url + 'equipo/imagen/default.png'}}"
                                                alt="Generic placeholder image" width="140" height="140">
                                        </div>
                                        <div id="nombreEquipo2"class="col-3 col-sm-2 col-md-2 col-lg-2">
                                            <h4 class="centrar">
                                                {{item.id_equipo2.nombre_equipo}}
                                            </h4>
                                        </div>
                    <!-- Otra Row -->
                                        <div class="col-4 text-right">
                                            <p *ngFor="let gol of (item.goles_equipo1)" >
                                                    {{gol.nombre_personal}} {{gol.apellido_personal}} <i class="fa fa-futbol-o" aria-hidden="true"></i><br>
                                            </p>
                                            <p  *ngFor="let TA of (item.tarjetas_amarilla_equipo1)" >
                                                {{TA.nombre_personal}} {{TA.apellido_personal}} <i class="fa fa-clone" style="color:yellow;" aria-hidden="true"  ></i><br>
                                            </p>
                                            <p *ngFor="let TR of (item.tarjetas_roja_equipo1)" >
                                                {{TR.id.nombre_personal}} {{TR.id.apellido_personal}}<i class="fa fa-clone" style="color: red;" aria-hidden="true"  ></i> <br>
                                            </p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p *ngIf="!(item.fecha)">
                                                <strong>Fecha: </strong> No definida <br>
                                                <strong>Estadio: </strong> No definido <br>
                                                <strong>Hora: </strong> --:-- <br>
                                                <strong>Vocal: </strong> No definido 
                                            </p>
                                            <p *ngIf="(item.fecha)"> 
                                            <strong>Fecha: </strong>{{item.fecha | date : 'yMMMMEEEEd'}} <br>
                                            <strong>Estadio: </strong> <a href='estadios'>{{item.id_estadio.nombre_estadio}}</a> <br>
                                            <strong>Hora: </strong> {{item.hora}} <br>
                                            <strong>Vocal: </strong> {{item.nombre_equipo_vocalia}} 
                                        </p>
                                        </div>
                                        <div class="col-4">
                                                <p *ngFor="let gol of (item.goles_equipo2)" >
                                                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                                        {{gol.nombre_personal}} {{gol.apellido_personal}}
                                                        <br>
                                                </p>
                                                <p *ngFor="let TA of (item.tarjetas_amarilla_equipo2)" >
                                                    <i class="fa fa-clone" style="color:yellow;" aria-hidden="true"  ></i>{{TA.nombre_personal}} {{TA.apellido_personal}} <br>
                                                </p>
                                                <p *ngFor="let TR of (item.tarjetas_roja_equipo2)" >
                                                    <i class="fa fa-clone" style="color: red;" aria-hidden="true"  ></i>{{TR.id.nombre_personal}} {{TR.id.apellido_personal}} <br>
                                                </p>
                                        </div>
                                    </div>
                                    <div *ngIf="item.id_equipo1 != null && item.id_equipo2 != null" class="row text-center">
                                        <div class="col-4">
                                            <!-- <strong>Observación:</strong> -->
                                        </div>
                                        <div class="col-4">
                                            <p *ngIf="(item.estado_fecha)">
                                        Partido Finalizado
                                            </p>
                                            <p *ngIf="!(item.estado_fecha)">
                                         Partido Por Jugar
                                            </p> 
                                        </div>
                                        <div class="col-4">
                                            <!-- <strong>Observación:</strong> -->
                                        </div>
                                    </div>
                                </div>
                    </div>
            </div>


        </div>















        <div class="col-12" *ngIf="verVuelta == '2'">
                <div class="row text-center">
                        <div class="col-12">
                               <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                   </div>

            <div class="card" *ngFor="let fec of fechaAgrupadaSegundaVuelta | paginate: { itemsPerPage: 1, currentPage: p }">
                    <div class="card-header">
                            <h2 class="text-center ">Fecha {{p}} </h2>
                        </div>
                <div class="body">
                        <div *ngFor="let item of fec; let j=index">
                                Partido Número: {{j+1}}
                                <div class="row" *ngIf="item.id_equipo1 != null && item.id_equipo2 != null">
                                    <div class="col-2">
                                        <h2 class="centrar">
                                            {{item.id_equipo1.nombre_equipo}}
                                        </h2>
                                    </div>
                                    <div class="col-2">
                                        <img *ngIf="(item.id_equipo1.escudo_equipo)" class="rounded-circle imgcenter" src="{{ url + 'equipo/imagen/' + (item.id_equipo1.escudo_equipo)}}"
                                            alt="Generic placeholder image" width="140" height="140">
                                        <img *ngIf="!(item.id_equipo1.escudo_equipo)" class="rounded-circle imgcenter" src="{{ url + 'equipo/imagen/default.png'}}"
                                            alt="Generic placeholder image" width="140" height="140">
                                    </div>
                                    <div class="col-lg-1">
                                        <h1 class="centrar">
                                            <FONT FACE="arial" SIZE=10>{{item.goles_equipo1.length}}</FONT>
                                        </h1>
                                    </div>
                                    <div class="col-1">
                                        <h1 class="centrar">
                                            <FONT FACE="arial" SIZE=10>-</FONT>
                                        </h1>
                                    </div>
                                    <div class="col-1">
                                        <h1 class="centrar">
                                            <FONT FACE="arial" SIZE=10>{{item.goles_equipo2.length}}</FONT>
                                        </h1>
                                    </div>
                                    <div class="col-2">
                                        <img *ngIf="(item.id_equipo2.escudo_equipo)" class="rounded-circle imgcenter" src="{{ url + 'equipo/imagen/' + (item.id_equipo2.escudo_equipo)}}"
                                            alt="Generic placeholder image" width="140" height="140">
                                        <img *ngIf="!(item.id_equipo2.escudo_equipo)" class="rounded-circle imgcenter" src="{{ url + 'equipo/imagen/default.png'}}"
                                            alt="Generic placeholder image" width="140" height="140">
                                    </div>
                                    <div class="col-2">
                                        <h2 class="centrar">
                                            {{item.id_equipo2.nombre_equipo}}
                                        </h2>
                                    </div>
        
                                    <!-- Otra Row -->
                                <div class="col-4">
                                        <p class="text-right" *ngFor="let gol of (item.goles_equipo1)" >
                                                {{gol.nombre_personal}} {{gol.apellido_personal}} <i class="fa fa-futbol-o" aria-hidden="true"></i><br>
                                        </p>
                                    </div>
                                    <div class="col-3 text-center">
                                        <p *ngIf="!(item.fecha)">
                                            <strong>Fecha: </strong> No definida
                                            <strong>Hora: </strong> --:--
                                            <strong>Estadio: </strong> No definido
                                        </p>
                                        <p *ngIf="(item.fecha)"> 
                                        <strong>Fecha: </strong>{{item.fecha | date}}
                                        <strong>Hora: </strong> {{item.hora}}
                                        <strong>Estadio: </strong> <a href="">{{item.id_estadio.nombre_estadio}}</a>
                                    </p>
                                    </div>
                                    <div class="col-4">
                                            <p *ngFor="let gol of (item.goles_equipo2)" >
                                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                                    {{gol.nombre_personal}} {{gol.apellido_personal}}
                                                    <br>
                                            </p>
                                    </div>
                                </div>
        
                                
                            </div>
                </div>
            </div>

        </div>


    </div>





