<div class="card text-center">
  <div class="card-header row justify-content-end">
    <div class="col-4">
      <h5>Noticias</h5>        
    </div>
    <div class="col-4">
      <a *ngIf="identity" class="btn btn-primary block pointer" role="button" (click)="emitirEvento('agregarNoticia')">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Nueva
      </a>
    </div>
   
  </div>
  <div class="card-block ">
    <br>
    <nav aria-label="navigation" >
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link pointer"  style="    color: white;
            background-color: #292b2c!important" (click)="restar()" aria-label="Previous">
          
              <span>Noticias-Anteriores</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link pointer" style="    color: white;
            background-color: #292b2c!important" (click)="sumar()" aria-label="Next">
              
              <span>Noticias-Siguientes</span>
            </a>
          </li>
        </ul>
      </nav>
    <hr>
    <div class="card text-white bg-dark margenCard" *ngFor = "let noticiaItem of noticia ; let i = index">
      <div class="card-header">
          <div class="row justify-content-end">
              <a *ngIf="identity" (click)="emitirEvento('editarNoticia',noticiaItem,srcItem[i])" class="btn btn-info pointer" 
                role="button" aria-label="Settings">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </a>
              <a *ngIf="identity" (click)="eliminarNoticia(noticiaItem)" class="btn btn-danger pointer" role="button" aria-label="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
          </div>
      </div>
      <img class="card-img-top" [src]="srcItem[i]" alt="Card image cap" height="180" >
      <div class="card-block">
        <h6 class="card-title">{{noticiaItem.titulo}}</h6>
        <p class="card-text justificado">
          {{noticiaItem.descripcion}}
        </p>
      </div>
      <div class="card-footer ">
        <!-- <div class="">
            <a *ngIf="identity" (click)="emitirEvento('editarNoticia',noticiaItem,srcItem[i])" class="btn btn-info" 
              role="button" aria-label="Settings">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <a *ngIf="identity" (click)="eliminarNoticia(noticiaItem)" class="btn btn-danger" role="button" aria-label="Delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </div> -->
          
        <!-- <button *ngIf="identity"  class="btn btn-success" (click)="emitirEvento('editarNoticia',noticiaItem,srcItem[i])">Editar</button>    -->
        <!-- <button  *ngIf="identity"  class="btn btn-danger" (click)="eliminarNoticia(noticiaItem)">Eliminar</button> -->
        <small>Publicado {{noticiaItem.fecha_publicado | date}}</small>        
        <div *ngIf="!identity">
            <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <strong>
    Seccion de Noticias T.O.D 2017
   </strong>
  </div>
</div>
