/* You can add global styles to this file, and also import other style files */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* background-image: url('/assets/img/Imagen.jpg'); */
  /* background-color: #FDF2E9    !important; */
  background-image: url('/assets/img/fondo_equipo.jpg');
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 3rem !important;
}
html {
  min-height: 100%;
  position: relative;
}

footer {
  background-color: #292b2c!important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 0rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



/*Input de Formularios*/
.frm-addon{
    width: 2.6rem !important; 
    background:#3a57af !important; 
    color:#fff !important;   
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem !important;
    text-align: right !important;
  }
}







/* style 4 */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}
.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-4 + label {
  color: #3a57af;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #202672;
}

.inputfile-4 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3a57af;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
  background-color: #202672;
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}





/*Radio Butons*/
.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}
label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.7em;
	height: 0.4em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

input[type="radio"] {
  visibility: hidden;
}



/*fondo de las card*/
.card{
  /* background-image: url('/assets/img/fondo_equipo.jpg'); */
  border-radius: 16px !important;
  box-shadow: 0px 0px 10px 2px #000 !important;
}

.jumbotron{
  /* background-image: url('/assets/img/fondo_equipo.jpg');  */
  border-radius: 16px !important;
  box-shadow: 0px 0px 10px 2px #000 !important;
}

.margenCard{
  padding-left: 1rem;
  padding-right: 1rem;
}

/*Efecto de Botones*/
 a:hover{
  -webkit-transform:  scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

button:hover{
  -webkit-transform:  scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* clase de error para div de formularios */
.error-campo {
   /* display: none;  */
   margin-top: .25rem !important;
   font-size: .875rem !important; 
   color: #dc3545 !important;
}

.pointer{
  cursor: pointer;
}

 
.justificado{
  text-align: justify;
  text-justify: inter-word;

}
.contenedor{
  padding: 2px;
}
